<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row g-4 py-md-5">
      <div class="col-lg-4 col-md-6">
        <div class="logo mb-3">
          <a
            class="navbar-brand"
            href="index.html"
            onclick="
              goHome();
              return false;
            "
          >
            <img
              src="assets/images/logoStackly.webp"
              alt="Stackly"
              width="150"
            />
          </a>
        </div>
        <p>
          Our consulting services encompass a broad range, including strategic
          planning, operational efficiency...
        </p>
        <div class="social mt-3">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-6">
        <h4>What We Do</h4>
        <ul class="list-unstyled">
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Our Team</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 col-6">
        <h4>Quick Links</h4>
        <ul class="list-unstyled">
          <li><a href="#">Market Analysis</a></li>
          <li><a href="#">Strategic Roadmap</a></li>
          <li><a href="#">Financial Planning</a></li>
          <li><a href="#">Risk Management</a></li>
          <li><a href="#">Talent Acquisition</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4>Contact</h4>
        <ul class="list-unstyled">
          <li>📞 <a href="tel:+25836548325684">+258 36548 325684</a></li>
          <li>
            ✉
            <a href="mailto:help-stackly@support.com"
              >help-stackly@support.com</a
            >
          </li>
          <li>🕐 8:00am - 17:00pm</li>
          <li>📍 Molan Avenue DY Block, Berlin, Germany</li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom pb-3">
      <p>© <span id="year"></span> Stackly. All rights reserved.</p>
      <div class="socials">
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>

<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
